<%= form_for(@artwork) do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label "Descrizione" %><br>
    <%= f.text_area :description, :class=>"form-control" %>
  </div>
  <div class="field">
  <h4>Categorie</h4>
  <%= hidden_field_tag "artwork[cat_ids][]", nil %>
    <% Cat.all.each do |cat| %>
    <%= check_box_tag "artwork[cat_ids][]", cat.id, @artwork.cat_ids.include?(cat.id), id: dom_id(cat) %>
    <%= label_tag dom_id(cat), cat.name%><br>
    <% end %>
  </div>
  <div class="field">
    <%= f.label "Immagine" %><br>
    <%= f.file_field :picture, :class=>"btn btn-default" %>
  </div>
 
   <div class="actions">
    <%= f.submit "Salva", :class=>"btn btn-primary" %>
  </div>
<% end %>
