<p id="notice"><%= notice %></p>
<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
      <h2  href="#"> Categorie</h2><br>
      <ul class="nav navmenu-nav">
       <% Cat.all.each do |cat| %>
        <li>
          <a href="#" onclick="$('.grid').isotope({ filter: '.cat-<%= cat.id.to_s %>' });setCategories('.cat-<%= cat.id.to_s %>')"><%= cat.name %></a>
        </li>

        <% end %>
        <li>
          <a href="#" onclick="$('.grid').isotope({ filter: '' });noCategories();">Tutte/All</a>
        </li>
      </ul>
     
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
      <button type="button" class="navbar-toggle btn btn-primary" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
         <span class="pull-right"><strong>CATEGORIE<br>
        CATEGORIES</strong></span>
      </button>
    </div>

<div class="container-fluid">
  <div class="row">
    <h1 style="text-align:center;">CATALOGO DISEGNI</h1>
<br>
 
</div>
  <div class="row">

<div id="masonry-container" class="transitions-enabled centered infinite-scroll col-md-11 clearfix grid">


    <% @artworks.each do |artwork| %>
       <div class="box <%= artwork.cats.map{|c| 'cat-'+c.id.to_s}.join(" ") %>">
       <a class="swipebox" rel="group" href="<%= artwork.picture %>" title="<%= artwork.name %>" onclick="hide_cats();">
         <%= image_tag(artwork.picture, :class=>"box-image") if artwork.picture.present? %>
         </a>
          <p class="box-label"><%= artwork.name %></p>
        </div>
        
    <% end %>



</div>



</div>


</div>



