<p id="notice"><%= notice %></p>

<h1> <%= @artwork.name %></h1>

<p>
  
  <%= @artwork.description %>
</p>
<p>
  <strong>Categorie:</strong>
  <%= @artwork.cats.map{|c| c.name}.join(", ") %>
</p>

<p>
    <%= image_tag(@artwork.picture, :height=>300) if @artwork.picture.present? %>
</p>



<%= link_to 'Modifica', edit_artwork_path(@artwork), :class=>"btn btn-warning" %>
<%= link_to 'Torna a Elenco Disegni', artworks_path, :class=>"btn btn-primary" %>
<%= link_to 'Aggiungi Nuovo', new_artwork_path, :class=>"btn btn-info" %>