<div class="form-group">
  

<%= form_for(@cat) do |f| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label "Descrizione" %><br>
    <%= f.text_area :description, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label "Immagine" %><br>
    <%= f.file_field :picture, :class=>"btn btn-default" %>
  </div>
  <div class="actions">
    <%= f.submit "Salva", :class=>"btn btn-primary" %>
  </div>
<% end %>
</div>