<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cat.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@cat.picture, :width=>200) if @cat.picture.present? %>
</p>

<%= link_to 'Modifica', edit_cat_path(@cat) %> |
<%= link_to 'Torna a lista Categorie', cats_path %>
